body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#place input {
    padding: 10px;
    display: block;
}

.container {
    padding: 50px;
    width: 300px; 
    border: 1px solid;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* προαιρετική σκιά */
    background-color: #fff;
}

#myBtn {
    padding: 10px;
    background-color: #5286d9;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

#myBtn:hover {
    background-color: #4287f5;
}
